<h3>Create Primary Component</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div>
      <label><b>Current user ID: </b></label> {{id}}
      <br>
      <label><b>Current user username: </b></label> {{moolahuser.userName}}
      <br>
      <label><b>Current user password: </b></label> {{moolahuser.password}}
  
    </div>
    <div class="form-group">
      
      <label for="name">Title</label>
      <input type="text" class="form-control" id="moolahTitle" required [(ngModel)]="primaryC.moolahTitle" name="moolahTitle">
    </div>
<div>
  	<div class="input-group  col-sm-12">
  		<input class="form-control" placeholder="yyyy-mm-dd" id="tmp_dateCreated " required [(ngModel)]="tmp_dateCreated" name="tmp_dateCreated " ngbDatepicker #d="ngbDatepicker">
  		<div class="input-group-append">
    		<button 
      	class="btn btn-outline-secondary calendar"
      	(click)="d.toggle()"
      	type="button"><i class="fa fa-calendar"></i></button>
  		</div>
	</div>
<label for="name">Duration : </label>
 <label for="name">Year</label>
 <select name="year" [(ngModel)]="dYear" > <hr>
 <option *ngFor="let number of yearArr" value="{{number}}">{{number}}</option>
</select>
&nbsp;
<label for="name">Month</label>
 <select name="month" [(ngModel)]="dMonth" >
   <option *ngFor="let number of monthArr" value="{{number}}">{{number}}</option>
</select>
</div>
<!--
    <div class="form-group">
      <label for="name">Duration</label>
      <input type="time" class="form-control" id="duration" required [(ngModel)]="primaryC.duration" name="duration">
    </div>
-->
    <div class="form-group">
      <label for="name">Limit</label>
      <input type="number" step="0.01" class="form-control" id="limit" required [(ngModel)]="primaryC.limit" name="limit">
    </div>

  	<div class="form-group">
      <label for="name">Current Amount</label>
      <input type="number" step="0.01" class="form-control" id="currAmt" required [(ngModel)]="primaryC.currAmt" name="currAmt">
    </div>


	<!--<div>
   	 <mat-form-field class="example-full-width" appearance="fill">
  		<mat-label>Choose a date</mat-label>
  	<input matInput[matDatepicker]="picker" placeholder="yyyy-mm-dd" id="date_created" required [(ngModel)]="primaryC.date_created" name="tmp_startDate" ngbDatepicker #d="ngbDatepicker">
  	<mat-datepicker #picker></mat-datepicker>
	</mat-form-field>
	<div>
	<button type="button" mat-raised-button (click)="picker.open()">Open</button>
	</div>

	</div>-->

    <!--date_created-->
    
      
   
     <button type="submit" class="btn btn-success">Submit</button>
 </form>

</div>


<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <br>
  <button (click)="list_userhomepage()" class="btn btn-primary">Homepage</button><br>
  <button (click)="list_createSecondaryCom()" class="btn btn-primary">Create Secondary Component</button><br>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>


