<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
</head>
<body>
 <div class="pageTitle title">
<h3 >Create Primary Component</h3></div>
 <form (ngSubmit)="onSubmit()" class=form>
<div [hidden]="submitted" style="width: 700px;">
 
    <div>
      <label><b>Current user ID: </b></label> {{id}}
      <br><br><br>
      <label><b>Current user username: </b></label> {{moolahuser.userName}}
      <br><br><br>
      <label><b>Current user password: </b></label> {{moolahuser.password}}
  		<br><br><br>
    </div>
    <div class="form-group">
      
      <label for="name">Title</label> &nbsp;&nbsp;
      <input type="text" class="form-control" id="moolahTitle" required [(ngModel)]="primaryC.moolahTitle" name="moolahTitle">
    </div>
<br><br><br>
<div>
  	<div class="input-group  col-sm-12"> <label for="name">Goal Date</label> &nbsp;&nbsp;
  		<input class="form-control" placeholder="yyyy-mm-dd" id="tmp_dateCreated " required [(ngModel)]="tmp_dateCreated" name="tmp_dateCreated " ngbDatepicker #d="ngbDatepicker">
  		<div class="input-group-append">
    		<button 
      	class="btn btn-outline-secondary calendar"
      	(click)="d.toggle()"
      	type="button"><i class="fa fa-calendar"></i></button>
  		</div>
	</div>
	<br><br><br>
<label for="name">Duration : </label>
 <label for="name">Year</label>&nbsp;
 <select name="year" [(ngModel)]="dYear" > <hr>
 <option *ngFor="let number of yearArr" value="{{number}}">{{number}}</option>
</select>
&nbsp;
<label for="name">Month</label>&nbsp;
 <select name="month" [(ngModel)]="dMonth" >
   <option *ngFor="let number of monthArr" value="{{number}}">{{number}}</option>
</select>
</div>
<!--
    <div class="form-group">
      <label for="name">Duration</label>
      <input type="time" class="form-control" id="duration" required [(ngModel)]="primaryC.duration" name="duration">
    </div>
-->
    <div class="form-group">
      <label for="name">Limit</label>&nbsp;&nbsp;
      <input type="number" step="0.01" class="form-control" id="limit" required [(ngModel)]="primaryC.limit" name="limit">
    </div>
<br>
  	<div class="form-group">
      <label for="name">Current Amount</label>&nbsp;&nbsp;
      <input type="number" step="0.01" class="form-control" id="currAmt" required [(ngModel)]="primaryC.currAmt" name="currAmt">
    </div>
<br>
      <br>
   
     <button type="submit" class="buttonSS">Submit</button>


</div>
 </form>
<br><br><br><br><br><br>
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <br>
  <button (click)="list_userhomepage()" class="buttonSS">Homepage</button><br>
  <button (click)="list_createSecondaryCom()" class="buttonSS">Create Secondary Component</button><br>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>

</body>
</html>
