
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Template</title>
    
  </head>
<body>
	<div>
		<h2>Create your financial portfolio today</h2> 
	</div>
	<div>
<div class="para">
<br><br>
	<button (click)="create_primaryComponent()" class="buttonSS" >Create Primary Component</button>
	<br><hr><br><br>
	<button (click)="create_secondaryComponent()" class="buttonSS" >Create Secondary Component</button>
	<br><hr><br><br>
	<button (click)="create_constantComponent()" class="buttonSS">Create Constant Component</button>
	<br><hr>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</body>