<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Template</title>
    
  </head>
<body>
  <div class="jumbotron text-center">
  <h1>MOOLAH APPLICATION</h1>
  
</div>
<div>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul>
    	<li class="nav-item">
        <a routerLink="login" class="nav-link1" routerLinkActive="active">Login</a>
      </li> &nbsp; &nbsp;&nbsp; &nbsp;
      <li class="nav-item">
        <a routerLink="homepage" class="nav-link1" routerLinkActive="active">Homepage</a>
      </li>&nbsp; &nbsp;&nbsp; &nbsp;

      
      <li class="nav-item">
        <a routerLink="create_mUser" class="nav-link1" routerLinkActive="active">Create Account</a>
      </li> &nbsp; &nbsp;&nbsp; &nbsp;

     <!-- <li class="nav-item">
        <a routerLink="adminControl" class="nav-link" routerLinkActive="active">ADMIN</a>
      </li> -->

      <li class="nav-item">
        <a routerLink="adminControl2" class="nav-link1" routerLinkActive="active">ADMIN2</a>
      </li> 
  
	</ul>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Primary Component</h3>
      <p>Primary Components comprise of long term goals such as housing, cars and retirement plans. You will be asked what is the goal date 
        that you want to work towards to. At the end of every month, you can decide how much money you want to put in. There will be a progress bar showing 
        how near or far you are towards that goal.
      </p>
    </div>
    <div class="col-sm-4">
      <h3>Constant Component</h3>
      <p>Constant Components are fixed amounts of money that will be added or deducted accordingly. For example, you can add your salary
        as a positive constant component that is incremeneted monthly. We can add things like existing house/car  mortgages, insurance plans
        as negative constant components as they are deducted every month in fixed amounts as well.(I am currently working on a shceduler application that is not available at
        the moment. 
      </p>
    </div>
    <div class="col-sm-4">
      <h3>Secondary Component</h3> 
      <p>Secondary Components are short term goals of small earnings or spendings every month. Users can use this to track how much money they spend on food,
        clothes , makeup as negative secondary components. Users can add one time positive increments like pay bonuses as a postive 
      secondary components as well. </p>
    </div>
  </div>
<div>
  </div></div>
  <div>
    <h4>AIM: </h4>
    <p>
      The aim of this website is to help users gauge and keep track of short term and long term life goals.
    </p>
    <br><br><br><br><br><br><br><br>
  </div>


  </body>
</html>