<div>
	<nav>
    	<li class="nav-item">
        <a routerLink="login" class="nav-link" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="homepage" class="nav-link" routerLinkActive="active">Homepage</a>
      </li>

      <li class="nav-item">
        <a routerLink="security" class="nav-link" routerLinkActive="active">Security</a>
      </li> 
      
      <li class="nav-item">
        <a routerLink="create_mUser" class="nav-link" routerLinkActive="active">Create Account</a>
      </li> 

      <li class="nav-item">
        <a routerLink="adminControl" class="nav-link" routerLinkActive="active">ADMIN</a>
      </li> 

      <li class="nav-item">
        <a routerLink="adminControl2" class="nav-link" routerLinkActive="active">ADMIN2</a>
      </li> 
  
	
	</nav>
</div>

